<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="'name : ' + ${name}"></p>
<h2 class="location">
    위치 없음
</h2>
<h3 class="city"></h3>
<button class="save-button">저장하기</button>
<table class="location-list">
</table>

<script th:inline="javascript">
    /*<![CDATA[*/
    const name = [[${name}]];
    const contextPath = [[@{/}]];
    /*]]>*/
</script>
<script th:src="@{/js/location.js}"></script>
</body>
</html>